@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="top-bar">
        <h5>Admin Dashboard</h5>
    </div>
</div>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="links" id="sidebar">
        <div class="tasks">
            <NavLink class="nav-link">
                Tasks
                <NavLink class="nav-link" href="/admin" Match="NavLinkMatch.All">
                    Open
                </NavLink>
                <NavLink class="nav-link" href="/inprogress" Match="NavLinkMatch.All">
                    In-progress
                </NavLink>
            </NavLink>
        </div>

        <div class="projects">
            <NavLink class="nav-link" href="/projects">
                Projects
            </NavLink>
        </div>

        <div class="user">
            <NavLink class="nav-link">
                Create Client
                <NavLink class="nav-link" href="/primaryUser" Match="NavLinkMatch.All">
                    Primary User
                </NavLink>
                <NavLink class="nav-link" href="/secondaryUser" Match="NavLinkMatch.All">
                    Secondary User
                </NavLink>
            </NavLink>
        </div>

        <div class="staff">
            <NavLink class="nav-link" href="/createStaff">
                Create Staff
            </NavLink>
        </div>

        <div class="client">
            <NavLink class="nav-link" href="/listClients">
                Clients
            </NavLink>
        </div>

        <button @onclick="logOut" class="btn">Logout</button>

    </nav>

</div>

@code {
    public void logOut()
    {
        NavigationManager.NavigateTo("/");
    }
}