@inherits LayoutComponentBase

<h2>Attain Task Support</h2>

<div class="container">
    <div class="page">
        <div class="sidebar">
            <AdminNavMenu />
        </div>

        <main class="main">
            @Body
        </main>
    </div>
</div>