h5[b-w6fifjav1e] {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

#sidebar .nav-link[b-w6fifjav1e] {
    color: white;
}