@page "/admin"
@layout AdminLayout

<PageTitle> Attain Task Support</PageTitle>

<div class="card-grid">
    <div class="card">
        <h4>Tasks</h4>
        <p>12</p>
        <p>Total in number</p>
    </div>
    <div class="card">
        <h4>Projects</h4>
        <p>18</p>
        <p>Total in number</p>
    </div>
    <div class="card">
        <h4>Clients</h4>
        <p>9</p>
        <p>Total in number</p>
    </div>
</div>

<div class="header">
    <h3>Open Tasks</h3>
</div>
