@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <h1>Hello, Welcome To ATS</h1>
    <div class="text">
        Your concerns are our top priority. View all your projects and tickets easily, report any issue, and we will
        ensure
        you
        receive the best support.
    </div>
</div>

<div style="text-align: center; background:red">
    <NavLink href="/login" class="button">Login</NavLink>
</div>
