@page "/"

<PageTitle> Home</PageTitle>

<div class="cont">
    <h1>Hello, Welcome To ATS</h1>
    <div class="Text">
        Your concerns are our top priority. View all your projects and tickets easily, report any issue, and we will
        ensure
        you
        receive the best support.
    </div>
</div>

@inject NavigationManager NavigationManager

<input type="button" value="Go to Login" @onclick="GoToLogin" class="button" />

@code {
    private void GoToLogin()
    {
        NavigationManager.NavigateTo("/login");
    }
}